body {
    background-color: #000
}

.card {
    border: none;
    background-color: #fff;
    padding: 25px;
    border-radius: 35px;
    margin: 2px;
}

.btn-outline-dark {
    border-radius: 35px;
    font-size: 10px;
    box-shadow: none;
    border: 1px solid #000;
}

.col-md-3 {
    margin-top: 5px
}
